* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

.time, .numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-size: x-large;
    font-weight: 500;
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
}

#container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #000;
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: lightgray;
}

#lapsContainer {
    margin-top: 20px;
    width: 50%;
}

#laps {
    list-style-type: none;
    padding: 0;
}

#laps li {
    background-color: #f1f1f1;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}
